
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.reg-group {
    display: flex;
    flex-direction: column;
    background-color: white;
    background-image: -webkit-linear-gradient(top left, #0287e0, #f7eb67);
    align-items: center;
    justify-content: center;
    background-color: #21D4FD;
    height: 100vh;
}
.reg-form {
    /* display: flex;
    flex-direction: column; */
    min-width: 250px;
    max-width: 400px;
    border-radius: 24px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.reg-form h1 {
    margin-top: 35px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    text-align: center;
}
.email {
    margin-top: 30px;
}
.password {
    margin-top: 10px;
}
.confirm-password {
    margin-top: 10px;
}
.email,
.password,
.confirm-password {
    width: 100%;
    border: none;
    border-radius: 24px;
    background-color: whitesmoke;
    padding: 15px;
}
input {
    outline: none;
}
.reg-btn {
    background-image: -webkit-linear-gradient(top left, #0287e0, #f7eb67);
    color: white;
    width: 100%;
    border: none;
    margin-top: 35px;
    cursor: pointer;
    padding: 10px;
    border-radius: 24px;
    transition: 0.25s;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}
.reg-btn:hover {
    opacity: 0.7;
}
.reg-btn-group p {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1rem;
}
